.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.count-down-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.count-down-container h1 {
  font-size: 100px;
}

.count-down-container img {
  max-width: calc(100vw - 10px);
}

.option {
  margin-bottom: 16px;
  display: flex;
  width: 100%;
}

.option input {
  margin-right: 8px;
  flex-shrink: 0;
}

.option label {
  text-align: left;
}

.question {
  max-width: 300px;
  margin-bottom: 64px;
  display: flex;
  flex-wrap: wrap;
}

.question h4 {
  width: 100%;
}

.disclaimer {
  width: 300px;
  display: flex;
  margin-bottom: 8px;
}

.disclaimer input {
  margin-right: 8px;
  flex-shrink: 0;
}

.disclaimer label {
  font-size: 12px;
  text-align: left;
}

.button {
  margin-top: 32px;
  margin-bottom: 64px;
  cursor: pointer;
  color: white;
  background-color: #ff4083;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.button-disabled {
  margin-top: 32px;
  margin-bottom: 64px;
  cursor: pointer;
  color: white;
  background-color: #ff4083;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  pointer-events: none;
  opacity: 0.5;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.95);
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.95);
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-screen h1 {
  animation: fadein 1s ease-in;
}

.loading-screen h1 {
  width: 300px;
  padding: 8px;
  -webkit-animation: fadein 2s ease-in alternate infinite;
  -moz-animation: fadein 2s ease-in alternate infinite;
  animation: fadein 1s ease-in alternate infinite;
}

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
